.light-medium-contrast {
  --md-sys-color-primary: rgb(110 47 52);
  --md-sys-color-surface-tint: rgb(143 74 78);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(170 95 100);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(88 59 60);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(142 108 109);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(87 62 23);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(142 111 67);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(140 0 9);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(218 52 46);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(255 248 247);
  --md-sys-color-on-background: rgb(34 25 26);
  --md-sys-color-surface: rgb(255 248 247);
  --md-sys-color-on-surface: rgb(34 25 26);
  --md-sys-color-surface-variant: rgb(244 221 221);
  --md-sys-color-on-surface-variant: rgb(78 63 63);
  --md-sys-color-outline: rgb(108 91 91);
  --md-sys-color-outline-variant: rgb(137 118 119);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(56 46 46);
  --md-sys-color-inverse-on-surface: rgb(255 237 236);
  --md-sys-color-inverse-primary: rgb(255 179 182);
  --md-sys-color-primary-fixed: rgb(170 95 100);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(140 71 76);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(142 108 109);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(116 84 85);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(142 111 67);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(115 87 45);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(231 214 214);
  --md-sys-color-surface-bright: rgb(255 248 247);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(255 240 240);
  --md-sys-color-surface-container: rgb(252 234 233);
  --md-sys-color-surface-container-high: rgb(246 228 228);
  --md-sys-color-surface-container-highest: rgb(240 222 222);
}
