@import url(dark-hc.css);
@import url(light-hc.css);
@import url(dark-mc.css);
@import url(light-mc.css);

#dark {
    --dark-sys-color-primary: rgb(143 74 78);
    --dark-sys-color-surface-tint: rgb(143 74 78);
    --dark-sys-color-on-primary: rgb(255 255 255);
    --dark-sys-color-primary-container: rgb(255 218 218);
    --dark-sys-color-on-primary-container: rgb(59 8 15);
    --dark-sys-color-secondary: rgb(118 86 87);
    --dark-sys-color-on-secondary: rgb(255 255 255);
    --dark-sys-color-secondary-container: rgb(255 218 218);
    --dark-sys-color-on-secondary-container: rgb(44 21 22);
    --dark-sys-color-tertiary: rgb(118 89 47);
    --dark-sys-color-on-tertiary: rgb(255 255 255);
    --dark-sys-color-tertiary-container: rgb(255 221 178);
    --dark-sys-color-on-tertiary-container: rgb(41 24 0);
    --dark-sys-color-error: rgb(186 26 26);
    --dark-sys-color-on-error: rgb(255 255 255);
    --dark-sys-color-error-container: rgb(255 218 214);
    --dark-sys-color-on-error-container: rgb(65 0 2);
    --dark-sys-color-background: rgb(255 248 247);
    --dark-sys-color-on-background: rgb(34 25 26);
    --dark-sys-color-surface: rgb(255 248 247);
    --dark-sys-color-on-surface: rgb(34 25 26);
    --dark-sys-color-surface-variant: rgb(244 221 221);
    --dark-sys-color-on-surface-variant: rgb(82 67 67);
    --dark-sys-color-outline: rgb(133 115 115);
    --dark-sys-color-outline-variant: rgb(215 193 193);
    --dark-sys-color-shadow: rgb(0 0 0);
    --dark-sys-color-scrim: rgb(0 0 0);
    --dark-sys-color-inverse-surface: rgb(56 46 46);
    --dark-sys-color-inverse-on-surface: rgb(255 237 236);
    --dark-sys-color-inverse-primary: rgb(255 179 182);
    --dark-sys-color-primary-fixed: rgb(255 218 218);
    --dark-sys-color-on-primary-fixed: rgb(59 8 15);
    --dark-sys-color-primary-fixed-dim: rgb(255 179 182);
    --dark-sys-color-on-primary-fixed-variant: rgb(114 51 56);
    --dark-sys-color-secondary-fixed: rgb(255 218 218);
    --dark-sys-color-on-secondary-fixed: rgb(44 21 22);
    --dark-sys-color-secondary-fixed-dim: rgb(230 189 189);
    --dark-sys-color-on-secondary-fixed-variant: rgb(93 63 64);
    --dark-sys-color-tertiary-fixed: rgb(255 221 178);
    --dark-sys-color-on-tertiary-fixed: rgb(41 24 0);
    --dark-sys-color-tertiary-fixed-dim: rgb(230 192 141);
    --dark-sys-color-on-tertiary-fixed-variant: rgb(92 66 26);
    --dark-sys-color-surface-dim: rgb(231 214 214);
    --dark-sys-color-surface-bright: rgb(255 248 247);
    --dark-sys-color-surface-container-lowest: rgb(255 255 255);
    --dark-sys-color-surface-container-low: rgb(255 240 240);
    --dark-sys-color-surface-container: rgb(252 234 233);
    --dark-sys-color-surface-container-high: rgb(246 228 228);
    --dark-sys-color-surface-container-highest: rgb(240 222 222);
  }
  #light {
    --light-sys-color-primary: rgb(255 179 182);
    --light-sys-color-surface-tint: rgb(255 179 182);
    --light-sys-color-on-primary: rgb(86 29 35);
    --light-sys-color-primary-container: rgb(114 51 56);
    --light-sys-color-on-primary-container: rgb(255 218 218);
    --light-sys-color-secondary: rgb(230 189 189);
    --light-sys-color-on-secondary: rgb(68 41 42);
    --light-sys-color-secondary-container: rgb(93 63 64);
    --light-sys-color-on-secondary-container: rgb(255 218 218);
    --light-sys-color-tertiary: rgb(230 192 141);
    --light-sys-color-on-tertiary: rgb(67 44 6);
    --light-sys-color-tertiary-container: rgb(92 66 26);
    --light-sys-color-on-tertiary-container: rgb(255 221 178);
    --light-sys-color-error: rgb(255 180 171);
    --light-sys-color-on-error: rgb(105 0 5);
    --light-sys-color-error-container: rgb(147 0 10);
    --light-sys-color-on-error-container: rgb(255 218 214);
    --light-sys-color-background: rgb(26 17 17);
    --light-sys-color-on-background: rgb(240 222 222);
    --light-sys-color-surface: rgb(26 17 17);
    --light-sys-color-on-surface: rgb(240 222 222);
    --light-sys-color-surface-variant: rgb(82 67 67);
    --light-sys-color-on-surface-variant: rgb(215 193 193);
    --light-sys-color-outline: rgb(159 140 140);
    --light-sys-color-outline-variant: rgb(82 67 67);
    --light-sys-color-shadow: rgb(0 0 0);
    --light-sys-color-scrim: rgb(0 0 0);
    --light-sys-color-inverse-surface: rgb(240 222 222);
    --light-sys-color-inverse-on-surface: rgb(56 46 46);
    --light-sys-color-inverse-primary: rgb(143 74 78);
    --light-sys-color-primary-fixed: rgb(255 218 218);
    --light-sys-color-on-primary-fixed: rgb(59 8 15);
    --light-sys-color-primary-fixed-dim: rgb(255 179 182);
    --light-sys-color-on-primary-fixed-variant: rgb(114 51 56);
    --light-sys-color-secondary-fixed: rgb(255 218 218);
    --light-sys-color-on-secondary-fixed: rgb(44 21 22);
    --light-sys-color-secondary-fixed-dim: rgb(230 189 189);
    --light-sys-color-on-secondary-fixed-variant: rgb(93 63 64);
    --light-sys-color-tertiary-fixed: rgb(255 221 178);
    --light-sys-color-on-tertiary-fixed: rgb(41 24 0);
    --light-sys-color-tertiary-fixed-dim: rgb(230 192 141);
    --light-sys-color-on-tertiary-fixed-variant: rgb(92 66 26);
    --light-sys-color-surface-dim: rgb(26 17 17);
    --light-sys-color-surface-bright: rgb(65 55 55);
    --light-sys-color-surface-container-lowest: rgb(20 12 12);
    --light-sys-color-surface-container-low: rgb(34 25 26);
    --light-sys-color-surface-container: rgb(39 29 29);
    --light-sys-color-surface-container-high: rgb(50 40 40);
    --light-sys-color-surface-container-highest: rgb(61 50 50);
  }
  
  
