.dark-high-contrast {
  --md-sys-color-primary: rgb(255 249 249);
  --md-sys-color-surface-tint: rgb(255 179 182);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(255 185 187);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(255 249 249);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(234 193 194);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(255 250 247);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(235 197 145);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 249 249);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 186 177);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(26 17 17);
  --md-sys-color-on-background: rgb(240 222 222);
  --md-sys-color-surface: rgb(26 17 17);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(82 67 67);
  --md-sys-color-on-surface-variant: rgb(255 249 249);
  --md-sys-color-outline: rgb(219 198 198);
  --md-sys-color-outline-variant: rgb(219 198 198);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(240 222 222);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(78 23 29);
  --md-sys-color-primary-fixed: rgb(255 223 224);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(255 185 187);
  --md-sys-color-on-primary-fixed-variant: rgb(52 3 10);
  --md-sys-color-secondary-fixed: rgb(255 223 224);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(234 193 194);
  --md-sys-color-on-secondary-fixed-variant: rgb(38 16 17);
  --md-sys-color-tertiary-fixed: rgb(255 226 191);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(235 197 145);
  --md-sys-color-on-tertiary-fixed-variant: rgb(34 19 0);
  --md-sys-color-surface-dim: rgb(26 17 17);
  --md-sys-color-surface-bright: rgb(65 55 55);
  --md-sys-color-surface-container-lowest: rgb(20 12 12);
  --md-sys-color-surface-container-low: rgb(34 25 26);
  --md-sys-color-surface-container: rgb(39 29 29);
  --md-sys-color-surface-container-high: rgb(50 40 40);
  --md-sys-color-surface-container-highest: rgb(61 50 50);
}
