        /* Header */
header {
    position: relative;
    background-color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 10px;
}

.section-retour {
    position: absolute;
    top: 10%;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

/* Bouton Retour */
.bouton-retour { 
    background-color: #800000;
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.bouton-retour:hover {
    transform: scale(1.1);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Logo Institution */
.section-institution {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-institution img {
    width: 150px;
    height: 150px;
    display: block;
    border-radius: 50%; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Section Vote */
.section-vote {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 10%;
    left: 20px;
    gap: 15px;
}

.section-vote button {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.section-vote button:hover {
    transform: scale(1.1);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.section-vote img {
    width: 40px;
    height: 40px;
}

.section-vote p {
    margin: 5px 0 0;
    font-size: 14px;
    color: black;
    text-align: center;
}

/* Section Feedback */
.section-retour-utilisateur {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 15px; 
    bottom: 10%;
    right: 20px;
}

.section-retour-utilisateur button {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.section-retour-utilisateur button:hover {
    transform: scale(1.1);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.section-retour-utilisateur img {
    width: 40px;
    height: 40px;
}

.section-retour-utilisateur p {
    margin: 5px 0 0;
    font-size: 14px;
    color: black;
    text-align: center;
}
