@import url(../police/police.css);

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    min-width: 100%;
    font-family: "sourcesanspro", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:50%;
    height:auto;
    border: 1px solid #c9c9c9;
    border-radius: 8px;
    text-align: left;
    overflow: hidden;
}

div.input-field {
    width:90%;
    margin:1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-field > input{
    margin-top:1%;
    width:auto;
}

#thematiqueFields{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

.champThematique {
    width:45%;
}

#send {
    margin:1%;
    width:90%;
}