/* Bandeau Titre */
.barre-titre {
    background-color: #000080;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 15px 20px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.barre-titre h1 {
    margin: 0;
    font-size: 24px;
    text-align: center;
    flex-grow: 1;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.barre-titre form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.settings-icone {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}


.settings-icone:hover {
    transform: scale(1.1);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.settings-icone img {
    height: 40px;
    width: 40px;
}

/* Contenu */
.description {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 16px;
    line-height: 1.6;
    background-color: transparent;
    margin: 20px auto;
    max-width: 800px;
    text-align: center;
}
